# Default ignored files
/../../../:Quản lý giáo viên /.idea/shelf/
/../../../:Quản lý giáo viên /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:Quản lý giáo viên /.idea/httpRequests/
